<style>
body {background-color: white;}
h1   {color: black;}
h1   {text-align: center;}
h1   {font-size: 60px;}
h2   {color: black;}
h2   {text-align: center;}
h2   {font-size: 30px;}
h3   {color: red;}
h3   {text-align: center;}
h3   {font-size: 15px;}

form {text-align: center;}
ul {list-style-type: none;
    margin: 100;
    padding: 0;}
</style>

<p><h1>Chitter<h1><p>
  <form action='/post_message' method="post">
    <label for="s_message">
      <input type="text" name="s_message" placeholder="Send a Peep">
    </label>
    <input type="submit" value="Peep">
  </form>

  <ul>
    <% @messages.each do |peep| %>
      <li>
        <h2>

          <%= peep[:message]%> <h2><h3>This message was peeped at <%=peep[:time]%><h3>
        <!-- </a> -->
      </li>
    <% end %>
  </ul>
  <!-- <h2><%=@messages%><h2> -->
