<style>
body {background-color: white;}
h1   {color: black;}
h1   {text-align: center;}
h1   {font-size: 60px;}
h2   {color: black;}
h2   {text-align: center;}
h2   {font-size: 30px;}
h3   {color: red;}
h3   {text-align: center;}
h3   {font-size: 15px;}

form {text-align: center;}
ul {list-style-type: none;
    margin: 100;
    padding: 0;}
</style>

<p><h1>Chitter<h1><p>
  <form action='/store_details' method="post">
  <p>  <label for="username">
      <input type="text" name="username" placeholder="Enter username">
    </label><p>

    <p><label for="email">
      <input type="text" name="email" placeholder="Enter email address">
    </label><p>

    <p><label for="password">
      <input type="text" name="password" placeholder="Enter password">
    </label><p>

    <p><input type="submit" value="sign_up_now"><p>
  </form>
